.searchBar--form{
  display:flex;
}
.searchBar--form--input{
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
}
.searchBar--form--input:focus{
  color: rgba(255, 166, 0, 0.472);
}
.form--button{
border-radius: 5px;
}
