/*Palette link: https://coolors.co/3b0d11-3a4f41-e1dee3-c73e1d-ff8c42 */
/*DarkSienna: #3B0D11 KombuGreen: #3A4F41 Gainsboro: #E1DEE3 Sinopia: #C73E1D MangoTango: #FF8C42 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar { /*Navbar*/
  display: flex;
  background-color: #C73E1D;
  align-content: center;
}
.branding { /*Navbar*/
  align-content: center;
  padding: 10px;
  justify-items: center;
  margin: 10px;
  max-width: 250px;
  }
  .toastLogo {
    max-width:200px;
    height:200px;
  }
  button {
    display: block;
    min-width: 400px;
   border-radius: 6px;
   margin: 3px;
    background-color: #E1DEE3;
    
  }

 .shortcut { /*Navbar*/
    font-size: 2.2em;
    justify-content: center;
    align-content: center;
    min-width: 300px;
    text-decoration: none;
    color: #3A4F41;
  }
  .userInfo { /*Navbar*/
    align-content: center;
    padding: 10px;
    justify-items: center;
    margin: 10px;
    max-width: 250px;
  }
  .userImg { /*Navbar*/
    background-color: rgb(228, 240, 64);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    text-justify: center;
    font-size: 50px;
  }
  
  .card-image { /*BreweriesList*/
    object-fit: cover;
    max-width: 400px;
    height: 168px;
    left: 40px;
    top: 100px;
    padding: 15px;
    border-radius: 5px;
    }
    .brewerycard { /*BreweriesList*/
        display: flex;
        border: 4px solid #3A4F41;
        margin: 40px;
        align-items: center;
        text-decoration: none;
        color: #3A4F41;
    }
    .card-details { /*BreweriesList*/
        margin: 20px;
    }
        
  .breweryDetails { /*BreweryDetails*/
    display: flex;
    margin: auto;
    padding: 20px;
   
  }
  .breweryInfo { /*BreweryDetails*/
    width: 35%;
   margin: 15px; 
   font-size: 1.5rem;
   background-color: #FF8C42;
  }
  .beersList { /*BreweryDetails*/
    max-width: 40%;
    border: 4px solid #3A4F41;
    padding: 10px;
  }
  .breweryHeader { /*BreweryDetails*/
    text-align: center;
  }
  .beercard { /*BeerList*/
    border: 5px solid black;
    text-decoration: none;
        color: #3A4F41;
        display: flex;
        border: 4px solid #3A4F41;
        margin: 10px;
        align-items: center;
        text-decoration: none;
        color: #3A4F41;
  }
  .beercard-image { /*BeerList*/
    object-fit: cover;
    max-width: 400px;
    height: 168px;
    left: 40px;
    top: 100px;
    padding: 15px;
    border-radius: 5px;
    }

  .login { /*existing acct login*/
    display: block;
    margin: auto;
    margin-top: 15px;
    max-width: 40%;
    justify-items: center;
    border: 4px solid #3A4F41;
    background-color: #FF8C42;
    padding: 10px;
  }
  .loginButton { /*existing acct login*/
    max-width:40%;
    min-width: 250px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 700;
    margin: auto;
    background-color: #E1DEE3;
  }

  .registration { /*account creation*/
    display: block;
    margin: auto;
    margin-top: 15px;
    max-width: 40%;
    border: 4px solid #3A4F41;
    padding: 10px;
    background-color: #FF8C42;
    font-size: 1.25rem;
  }
  .registerButton { /*account creation*/
    max-width:40%;
    min-width: 250px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 700;
    margin: auto;
  }

  .beerStats {
    display: flex;
  }